@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: #3C3C3C;
    font-family: 'raleway', sans-serif;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
a:hover{
	opacity: 1;
}

/*----------
 	Header
------------*/

.headerOnOff{
    opacity: 0;
    height: 0;
    transition: all .45s ease-in-out
  }
.bgcolor{
    color: red;
    transition: all .45s ease-in-out
}

header{
    position: fixed;
    font-weight: 600;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 8px 0;
    font-size: 15px;
}
header img{
    height: 64px;
    width: 64px;
}
header a img{
    margin-left: 12px;
    margin-right: 8x;
    vertical-align: middle;
}

header a{
    color: white;
    font-size: 15px;
}

#showApi{
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#showApi h3{
    font-size: 18px;
}   
/*------------------
 	hero-banner
-------------------*/

#hero-banner{
    height: 650px;
    background-image: url(../img/hero-banner.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

#hero-banner h1{
    color: rgb(170, 157, 157);
    margin-left: 150px;
    font-size: 30px;
}

/*----------------
 	Section
------------------*/


section article{
    height: 60%;
    display: flex;
    justify-content: space-between;
}
section article img{
    margin: 50px;
    width: 100%;
    max-width: 500px;
}
section article div{
    margin: auto;
    display: flex;
    flex-direction: column;
}
section{
    background-color: #a59b9b34;
    margin-top: 12px;
    display: flex;
    align-items: center;
}
section article h2{
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: mediumblue;
}


/*----------------
 	Formularios
------------------*/

#contacto{
    padding: 10px;
}

.form{
    position:relative;
    width: 700px;
    color: #fff;
    background-color:#fff;
    border-radius:1rem;
    box-shadow: 0 1px 1 rem rgba(0,0,0, .1);
    isolation: isolate;
    margin: auto;
}

.form__title{
    position:absolute;
    margin-bottom: 20px;
    color: rgb(65, 104, 211);
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;

}

.form>form{
    padding: 2.5rem;
    background-color: inherit;

}

input::placeholder {
    text-align: center;
    line-height: 100px;/* Centrado vertical */
  }

textarea::placeholder {
    text-align: center;
    line-height: 20px;/* Centrado vertical */
}

::placeholder {
    font-style: italic;
    font-size: 18px;
    font-family: 'Raleway';
 }
 
.validacionOK{
    color: rgb(16, 247, 16);
}

.form__input{
    position: relative;
    align-items: baseline;
    margin: 0 auto;
}

.form__input{
    font-size: 25px;
    color:rgb(65, 104, 211);
    font-size: 1.2em;
    font-style: italic;
}

.form__input input{
    position: relative;
    width: 100%;
    font:inherit;
    padding: 0.7rem 0;
    border-radius:3rem;
    outline: none;
}

.form__textarea{
    position: relative;
    align-items: baseline;
    margin: 0 auto;
}

.form__textarea{
    font-size: 25px;
    margin: 1rem;
    color:rgb(65, 104, 211);
    font-size: 1.2em;
    font-style: italic;
}

.form__textarea textarea{
    position: relative;
    width: 100%;
    font:inherit;
    padding: 1rem 0;
    border-radius:1rem;
    outline: none;
}

.form__select{
    position: relative;
    align-items: baseline;
    margin: 0 auto;
    font-style: italic;
}

.form__select{
    font-size: 25px;
    margin: 1rem;
    color:rgb(65, 104, 211);
    font-size: 1.2em;
    font-style: italic;
}

.form__select select{
    position: relative;
    width: 100%;
    font:inherit;
    padding: 1rem 0;
    border-radius:1rem;
    outline: none;
}

.form__button{
    display: block;
    margin: 2.5rem auto 3rem;
    padding: 1rem 5rem;
    background: linear-gradient(to left, blue, pink);
    color: #fff;
    font: inherit;
    border: .5rem solid #fff;
    outline:none;
    cursor: pointer;
    border-radius:3rem;
    
}

.form__button:hover{
    background: linear-gradient(blue, rgb(146, 120, 140));
}

.form__switch{
    display: block;
    text-align: center;
    font-size: 24px;
    color:#a1a1a1
}

.form__switch a{
    text-decoration: none;
    color:#fc6767;

}
.form__switch a:hover{
    text-decoration: underline;;

}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: #879399;
}

#redes p{
    text-align: center;
}

#redes ul{
    display: flex;
	margin-bottom: 25px;
	font-size: 32px;
    list-style: none;
}

footer ul li a{
    margin: 20px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
    margin-left: 35px;
}

footer p a{
	color: #fff;
}
/*----------------
 	Mapa
------------------*/

#mapa iframe{
    width: 400px;
    height: 200px;
    margin-left: 20px;
}

/*------------------
 	Medias Query
-------------------*/
@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}